<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"

    package="com.luojilab.reader">

    <application
        android:allowBackup="true" android:label="@string/readerbook_app_name"
        tools:replace="android:label"
        android:supportsRtl="true">


        <activity android:name=".IndexActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <provider
            android:authorities="${applicationId}.index"
            android:exported="false"
            android:multiprocess="true"
            android:name=".applike.IndexProvider"/>

    </application>

</manifest>
